*.suo
*.snk
*.pfx
/.vs
*/bin
*/obj
*.exe
*.log
*.pdb
*.db
*.swp
*.dms
*.ust
*.score.ini
*.DotSettings.user
/packages
/Test/*/Capture_img
/Test/*/Config.ini
/Test/*/bs1770gain**
/Test/*/dll/Hnx8.ReadJEnc*
/Test/*/dll/SharpDX*
/Test/*/dll/Newtonsoft.Json*
/Test/*/dll/OpenTK*
/Test/*/dll/FFmpeg.AutoGen*
/Test/*/dll/FDK*
/Test/*/dll/System*
/Test/*/System/*Style*/
/Test/*/System/Honkehuu/Sounds/*Combo*/
/Test/*/System/Honkehuu/Sounds/Game*
/Test/*/System/Honkehuu/Sounds/Select*
/Test/*/System/Honkehuu/Sounds/title*
/Test/*/Songs/
/Test/netcoreapp3.1/
/Test/*/テスト譜面*/