*.suo
*.snk
*.pfx
/.vs
*/bin
*/obj
*.exe
*.exe.config
*.log
*.pdb
*.db
*.swp
*.dms
*.ust
*.score.ini
*.DotSettings.user
/packages
/Test/*/Capture_img
/Test/*/Config.ini
/Test/*/bs1770gain**
/Test/*/Bass.Net*
/Test/*/Hnx8.ReadJEnc*
/Test/*/SharpDX*
/Test/*/Newtonsoft.Json*
/Test/*/OpenTK*
/Test/*/FFmpeg.AutoGen*
/Test/*/FDK*
/Test/*/System*.dll
/Test/*/DiscordRPC*
/Test/*/TJAPlayer3*
/Test/*/runtimes/
/Test/*/Songs/