*.suo
*.snk
/.vs
*/bin
*/obj
*.exe
*.log
*.pdb
*.db
*.swp
*.DotSettings.user
/packages
/Test/Capture_img
/Test/Config.ini
/Test/bs1770gain**
/Test/dll/CSharpTest.Net.Collections.*
/Test/dll/SlimDX.*
/Test/System/*Style*/
/Test/1*/
/Test/2*/
/Test/3*/
/Test/4*/
/Test/5*/
/Test/6*/
/Test/7*/
/Test/8*/
/Test/9*/
/Test/10*/
!/bin/**/*
/Test/テスト譜面/